[submodule "RedBean/3rdparty/spdlog"]
	path = RedBean/3rdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RedBean/3rdparty/GLFW"]
	path = RedBean/3rdparty/GLFW
	url = https://github.com/glfw/glfw
[submodule "RedBean/3rdparty/imgui"]
	path = RedBean/3rdparty/imgui
	url = https://github.com/ocornut/imgui
